# 1. Python Output

In [1]:
# python is a case sensetive language
print('hello world!')

hello world!

In [2]:
print(salmank khan)
# must be in inverted comma

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3135877284.py, line 1)

In [3]:
print(3)

3

In [4]:
print(3.4)

3.4

In [5]:
print(True)

True

In [6]:
print('hello',1,4.5,True)

hello 1 4.5 True

In [8]:
# (*values: object, sep: str | None = " ", end: str | None = "\n", file: SupportsWrite[str] | None = None, flush: Literal[False] = False) -> None

print('hello',1,4.5,True,sep='/')

hello/1/4.5/True

In [11]:
print('hello',end=' ')
print('world')

hello world

# 2. Data Types

In [14]:
# integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [16]:
# decimal/float
print(4.65)
# 1.7*10^308
print(1.7e309)

4.65
inf

In [18]:
# Boolean
print(True)
print(False)

True
False

In [19]:
# Text / String
print("Hello World")

Hello World

In [20]:
# complex number
print(6+2j)

(6+2j)

In [22]:
# list -> c -> array
print([2,4,7,8,22,324])

[2, 4, 7, 8, 22, 324]

In [24]:
# tuple -> similar to list
print((84,432.3,34,4))

(84, 432.3, 34, 4)

In [26]:
# set
print({3,5,6,True,'hi'})

{True, 3, 5, 6, 'hi'}

In [31]:
# Dictionary
print({
    'name':'rohan',
    'id':23,
    'gender':'male'
})

{'name': 'rohan', 'id': 23, 'gender': 'male'}

In [32]:
# type -> way to detect the data type
type([1,2,3,])

list

# 3. Variable

In [33]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# Stylish Declaration Technique

In [34]:
# c/c++
name = 'shaurya'
print(name)

a= 5
b = 6 

print(a+ b)

shaurya
11

In [36]:
# Dynamic Typing -> detect the data type by value
a = 5
# Static Typing
int a = 5 ;

SyntaxError: invalid syntax (2119574962.py, line 4)

In [37]:
# Dynamic Binding 
a = 2
print(a)
a = 'shaurya'
print(a)

# static binding -> in java , c , c++
int a = 32 ;
char a = 23 ;

SyntaxError: invalid syntax (2222004248.py, line 8)

In [38]:
a = 1 
b = 2 
c = 3
print( a, b ,c)

1 2 3

In [39]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [40]:
a=b=c=5
print(a,b,c)

5 5 5

# 4. Comments

In [41]:
# this is a comment
a = 4
b = 6 # like this
# second comment
print(a+b)

10

# 5. Keywords and Identifiers

In [43]:
# keywords
# there are 32 keywords in python 

# Identifiers
# creating names in python proram
# can not start with digit 
# ony underscore us used as a special case
print(_)

<class 'list'>

# 6. User Input

In [8]:
input('apana nam batao')
input('enter email')

'shaurya0616@gmail.com'

In [21]:
# take input from user and store them in a variable
# input first number
fnum = input('enter first number : ')
# input second number
snum = input('enter second number : ')
print(type(fnum),type(snum))
# add the fnum and snum
result = int(fnum) + int(snum)
# print the result 
print(result) 
type(fnum)

<class 'str'> <class 'str'>
25

str

# 7. Type Conversion

In [17]:
# Implicit vs Explicit
print(5+3.4)
print(type(5),type(3.4))
# print(4 +'4')

8.4
<class 'int'> <class 'float'>

In [19]:
# Explicit 
# str -> int
type(int(4.5))

# int to str
str(5)

# float
float()

'5'

# 8. Literals

In [2]:
a = 0b1010 # Binary Literals
b = 100 # decimal
c = 0o310 # octal 
d = 0x12c

# float literals
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

# complex literals
x = 3.23j

print(a,b,c,d)
print(float_1, float_2, float_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.23j 3.23 0.0

In [4]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """ArithmeticError
in the python
program"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string , strings , char , multiline_str ,unicode,raw_str, sep = "\n")

This is Python
This is Python
C
ArithmeticError
in the python
program
😀😆🤣
raw \n string

In [6]:
a =True + 4
b = False + 10

print("a : ", a)
print("b : ",b)

a :  5
b :  10

In [7]:
a = None

print(a)

None

In [8]:
k = None
a = 5
b = 6
print('Program run')

Program run